.ecwebbox {font-family:verdana,arial,helvetica,sans-serif; font-size:10px; font-weight:bold;}
A.ecwebboxinfo:link {color:#FF960A; text-decoration: none;}
A.ecwebboxinfo:active {color:#FF960A; text-decoration: none;}
A.ecwebboxinfo:visited {color:#FF960A; text-decoration:none;}
.formulaire{
	margin:15px;
	text-align: center;
}
.uemail{width:175px}
.emailprefmsgfrmt{width:175px}